.DashboardLayout {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;


}

.LeftSection {
    position: relative;
    width: max-content;
    
}

.RightSection {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:  calc(100vh);
    overflow:auto

}
