.wrapper {

    height: 550px;
}



.checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: var(--Background_Color);
    /* or your desired color */
}

.headerCheckbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* Adjust gap here */
}

.nameCheckbox {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.approved {
    color: var(--Success_Color);
    font-weight: 400;
}

.rejected {
    color: var(--Error_Color);
    font-weight: 400;
    text-decoration: underline;
}

.headerCheckbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}