.background {
    background: var(--Background_Color);

    color: var(--White_Color);
    padding: 0rem;
    font-family: var(--Font_Family);
}

.section {
    display: flex;
    flex-direction: column;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tabHeader {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.tabItem {
    font-size: var(--Font_Size_3);
    cursor: pointer;
    padding-bottom: 4px;
    color: var(--White_Color);
}

.activeTab {
    color: var(--Accent_Color_Light);
    border-bottom: 1px solid var(--Accent_Color_Light);
}

.dateFilter {
    margin-left: auto;
}

.buttonRow {
    margin-top: 1rem;
}

.userOverviewCard {
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* subtle white border */
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    min-height: 550px;
    flex-direction: column;
    gap: 0.5rem;
}
.searchWrapper {
  
    display: flex;
    width:499px;
    justify-content: flex-end;
    align-self: flex-end;
}
.tabSearchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    /* optional if you want it responsive */
}

.tabHeader {
    display: flex;
    gap: 2rem;
}

.tabItem {
    cursor: pointer;
    font-weight: 500;
    color: white;
}

.activeTab {
    color: #f4b342;
    border-bottom: 2px solid #f4b342;
    padding-bottom: 4px;
}

