.background {
    background: var(--Background_Color);

    color: var(--White_Color);
    padding: 1.5rem;
    font-family: var(--Font_Family);
}

.section {
    display: flex;
    flex-direction: column;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.tabs{display: flex;
    align-items: center;
    
    gap: 1.5rem;
    flex-wrap: wrap;

}
.tabHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    flex-wrap: wrap;
}

.tabItem {
    font-size: var(--Font_Size_3);
    cursor: pointer;
    padding-bottom: 4px;
    color: var(--White_Color);
}

.activeTab {
    color: var(--Accent_Color_Light);
    border-bottom: 1px solid var(--Accent_Color_Light);
}

.dateFilter {
    margin-left: auto;
}

.buttonRow {
    margin-top: 1rem;
}
.filterWrapper {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.search {
    width: 277px;
}

.dropdown {
    display: flex;
    width: max-content;
}