.wrapper {
    padding-top: 1rem;

}


.activityHeader {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}

.dropdownIcon {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdownList {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 6px;
    background-color: #111;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    z-index: 1000;
    width: 120px;
    padding: 4px 0;
}
.successText {
    color: var(--Success_Color);
}

.errorText {
    color: var(--Error_Color);
}

.dropdownItem {
    padding: 6px 12px;
    cursor: pointer;
    color: #ccc;
}

.dropdownItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}