.wrapper {
    padding: 0.25rem;
    height: 500px;
}

.filterWrapper {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.search {
    width: 277px;
}

.dropdown {
    display: flex;
    width: max-content;
}

.downloadBtn {
    flex-shrink: 0;
}