* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}



.App {
  background-color: var(--Background_Color);
  width: 100vw;
  height : 100vh ;
  overflow : auto
}
