/* Poppins Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.theme {
  --Primary_Color : #ffffff ;

  --Background_Color : #191919 ;

  --Accent_Color_Light : #d9a64e ;
  --Accent_Color_Dark : #846216 ;

  --Black_Color : #000000 ;
  --White_Color : #FFFFFF ;

  --Error_Color: #c0392b;
    --Success_Color: #27ae60;
    --Warning_Color: #e67e22;
    --Info_Color: #2980b9;

  --Font_Size_1: 12px;
    --Font_Size_2: 14px;
    --Font_Size_3: 15px;
    --Font_Size_4: 18px;
    --Font_Size_5: 24px;

    --Font_Family: 'Poppins', sans-serif;
}


